extends layout

block content
  h1 #{title}
  h2 No ultimo episodio: #{status}!
  p #{outcome.text}
  img(src=outcome.img, height="80", width="80")
  h2 Agora:
  p #{event.text} 
  img(src=event.img, height="80", width="80")
  br
  br
  button(onclick="location.href='http://localhost:3000/game/#{event.num}';") Sorte ou Reves?
